html, body {
    background: white;
    height: 100%;
}

.clock {
    color: #fe9a17;
    font-size: 60px;
    font-family: 'NTR', sans-serif;
    letter-spacing: 7px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.message {
    color: #1747af;
    font-size: 4vh;
    font-family: 'NTR', sans-serif;
}

.unders {
    color: #fe9a17;
}